[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.13"
celery = "*"
redis = "*"
psycopg2 = "*"
python-dotenv = "*"
gunicorn = "*"
pep8 = "*"
pyflakes = "*"
django-jenkins = "*"
coverage = "==4.3.4"

[dev-packages]
black = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.9"
