{% extends "base.html" %}
{% load i18n %}

{% block title %}Password Reset{% endblock title %}

{% block content %}

<section class="section-login">

    <div class="login">

        <div class="login-header">
            <h2 class="heading-secondary">Reset Your Password</h2>
        </div>

        <form action="{% url 'accounts:reset_password_custom' %}" method="POST" class="form login__form">
            {% csrf_token %}
            {% for field in form %}
                <label class="login__form__label" for="{{ field.auto_id }}">{{ field.label }}</label>
                {{ field }}
                {% include "components/error-messages.html" with errors=field.errors %}

            {% endfor %}
            <button type="submit" class="btn btn-login margin-bottom-xsmall">{% translate "Reset Password" %}</button>
            <a href="{% url 'accounts:login' %}" class="login__form__link margin-top-small">{% translate "Log in here" %}</a>
        </form>

    </div>

    <div class="header">
    </div>


</section>

<!-- <h1>Reset Your password</h1>

<form action="{% url 'accounts:reset_password_custom' %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <br>
    <input type="submit" value="Submit">
</form> -->

{% endblock %}