.btn {

    border: 2px solid #0f172a;
    border-radius: 0.5rem;
    border: none;
    text-decoration: none;

    &-login {
        font-size: 1.4rem;
        padding: 0.8rem 1.4rem;
        background-color: #0f172a;
        color: white;
        height: 3.6rem;
    }


    &-secondary {
        background-color: #334155;
        color: white;
        padding: 1.6rem 1.8rem;

        &:hover {
            background-color: #475569;
        }
    }

    &-create {
        font-size: 1.4rem;
        background-color: #334155;
        color: white;
        padding: 1.6rem 1.8rem;
        letter-spacing: 0.4rem;
        text-align: center;
        transition: 0.3s;

        &:hover {
            background-color: #475569;
            letter-spacing: 0.6rem;
        }

        &:active {
            background-color: #475569d5;
        }
    }
    

    &:hover {
        cursor: pointer;
    }

}

.btn-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
    transition: 0.2s;
    font-weight: 700;
    border-bottom: 1px solid black;

    &:hover {
        color: rgba(0, 0, 0, 0.4)
        // transform: translateY(-0.4rem);
    }

    &:active {
        color: rgba(0, 0, 0, 0.8)
    }
}