.form {

    padding: 2rem 5rem;
    display: flex;
    border: 2px solid red;
    width: 50%;
    flex-wrap: wrap;
    gap: 3rem 4rem;

    &__label {
        font-size: 1.4rem;
    }

    &__input {

    }

    &__detail__box {
        border: 2px solid green;
        width: 45%;
    }

    &__submit__box {

    }
}