{% load i18n %}

<nav class="nav-bar">
    <a href="#" class="nav-bar__link">Home</a>

    {% if request.user.is_authenticated %}
        <a href="{% url 'accounts:profile' uuid=request.user.profile.uuid %}" class="nav-bar__link">My Profile</a>
        <a href="{% url 'foods:list_foods' %}" class="nav-bar__link">All Foods</a>
        <a href="{% url 'foods:registered_foods' %}" class="nav-bar__link">Registered foods</a>
        <a href="{% url 'foods:food_consumed_daily_list' %}" class="nav-bar__link">List consumed foods</a>
        <a href="#" class="nav-bar__link">Search on a day</a>
        <a href="{% url 'accounts:logout' %}" class="nav-bar__link">Logout</a>
    {% else %}
        <a href="{% url 'accounts:login' %}" class="nav-bar__link">login</a>
        <a href="{% url 'accounts:register' %}" class="nav-bar__link">Register</a>
    {% endif %}

</nav>
